@*namespace Mercury.Views.Shared
{
    public class _Layout
    {
    }
}*@

<!DOCTYPE HTML>

<html>
<head>
	@await Html.PartialAsync("MetatagsPartial")
	@await Html.PartialAsync("CssPartial")

</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		@await Html.PartialAsync("HeaderPartial")

		<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li><a  asp-controller="Home" asp-action="Index">Головна</a></li>
				<li><a asp-controller="Products" asp-action="Index">Продукція</a></li>
				<li><a href="generic.html">Послуги</a></li>
				<li><a href="elements.html">Контакти</a></li>
			</ul>
			<ul class="actions stacked">
				<li><a href="tel:+380634719988" class="button primary fit">Зателефонувати Нам</a></li>
				<li><a href="viber://chat?number =+380634719988" class="button fit">Написати у Viber</a></li>
			</ul>
		</nav>

		@RenderBody()




		<!-- Footer -->
		@await Html.PartialAsync("FooterPartial")

	</div>

	<!-- Scripts -->
	@await Html.PartialAsync("ScriptsPartial")
	@*@await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>