@*namespace Mercury.Views.Shared
{
    public class _Layout
    {
    }
}*@

<!DOCTYPE HTML>

<html>
<head>
	@await Html.PartialAsync("MetatagsPartial")
	@await Html.PartialAsync("CssPartial")

</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		@await Html.PartialAsync("HeaderPartial")

		<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li><a href="index.html">Home</a></li>
				<li><a href="landing.html">Landing</a></li>
				<li><a href="generic.html">Generic</a></li>
				<li><a href="elements.html">Elements</a></li>
			</ul>
			<ul class="actions stacked">
				<li><a href="#" class="button primary fit">Get Started</a></li>
				<li><a href="#" class="button fit">Log In</a></li>
			</ul>
		</nav>

		@RenderBody()

@*		<!-- Banner -->
		<section id="banner" class="major">
			<div class="inner">
				<header class="major">
					<h1>Hi, my name is Forty</h1>
				</header>
				<div class="content">
					<p>
						A responsive site template designed by HTML5 UP<br />
						and released under the Creative Commons.
					</p>
					<ul class="actions">
						<li><a href="#one" class="button next scrolly">Get Started</a></li>
					</ul>
				</div>
			</div>
		</section>

		<!-- Main -->
		<div id="main">

			<!-- One -->
			<section id="one" class="tiles">
				<article>
					<span class="image">
						<img src="images/pic01.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Aliquam</a></h3>
						<p>Ipsum dolor sit amet</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/pic02.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Tempus</a></h3>
						<p>feugiat amet tempus</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/pic03.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Magna</a></h3>
						<p>Lorem etiam nullam</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/pic04.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Ipsum</a></h3>
						<p>Nisl sed aliquam</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/pic05.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Consequat</a></h3>
						<p>Ipsum dolor sit amet</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/pic06.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="landing.html" class="link">Etiam</a></h3>
						<p>Feugiat amet tempus</p>
					</header>
				</article>
			</section>*@

			<!-- Two -->
			@await Html.PartialAsync("SectionTwoPartial")

		</div>

		<!-- Contact -->
		@await Html.PartialAsync("ContactPartial")

		<!-- Footer -->
		@await Html.PartialAsync("FooterPartial")

	</div>

	<!-- Scripts -->
	@await Html.PartialAsync("ScriptsPartial")

</body>
</html>